<div *ngIf="logIn">
<label for="city">City</label>
<select id="location" name="location" #location>
  <option value="Hamburg">Hamburg</option>
  <option value="Munich">Munich</option>
</select>
<label for="startDate">Start Date</label>
<input type="date" id="startDate" name="startDate" #startDate >
<label for="endDate">End Date</label>
<input type="date"  id="endDate" name="endDate" #endDate >
<button type="button" (click)="searchByCityAndDate(location.value,startDate.value,endDate.value)">search</button>
<table  *ngIf="alerts.length > 0">
    <tr>
      <th>location</th>
      <th>saleDate</th>
      <th>Forecasted Sales Quantity</th>
      <th>Should it be closed</th>
      <th>Closing reason</th>
    
    </tr>
    <tr *ngFor="let item of alerts">
      <td>{{item.location}}</td>
      <td>{{item.saleDate}}</td>
      <td>{{item.forecastedSalesQuantity}}</td>
      <td>{{item.isClosed}}</td>
      <td>{{item.reason}}</td>
    </tr>
  </table>
</div>