<label for="city">City</label>
<select id="location" name="location" #location>
  <option value="Hamburg">Hamburg</option>
  <option value="Munich">Munich</option>
</select>
<label for="apiToken">API Token</label>
<input type="text" id="apiToken" name="apiToken" #apiToken >
<label for="startDate">Start Date</label>
<input type="date" id="startDate" name="startDate" #startDate >
<label for="endDate">End Date</label>
<input type="date"  id="endDate" name="endDate" #endDate >
<button type="button" (click)="searchByCityAndDate(location.value,startDate.value,endDate.value,apiToken.value)">search</button>
<table>
    <tr> 
      <th>Date</th>
      <th>Temperture</th>
    </tr>
    <tr *ngFor="let item of weatherforcast">
      <td>{{item.dateTime}}</td>
      <td>{{item.temperature}}</td>
    </tr>
    
  </table>